{% extends "words_list.html" %}

{% block title %}
<title>Category {{category.name}}</title>
{% endblock %}

{% block before_list %}
<h1>Words in category <b>{{category.name}}</b></h1>
{% endblock %}




{% block after_list %}

{% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}



<div class="row">
    <div class="col-sm-5">

        <h2>Categories</h2>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li>
                <a href=" {{category.get_absolute_url}} ">{{category.name}}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no categories.</p>
        {% endif %}
    </div>
    <div class="col-sm-5 ">

        <h2>Dictionaries</h2>
        {% if dictionaries %}
        <ul>
            {% for dict in dictionaries %}
            <li>
                <a href=" {{dict.get_absolute_url}} ">{{dict.name}}</a>
                ({{dict.language_from.name}}-{{dict.language_to.name}})
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>There are no dictionaries.</p>
        {% endif %}

    </div>
</div>



{% endblock %}
