{% extends "base_generic.html" %}

{% block content %}

{% block before_list %}{% endblock %}

{% if words %}
<h3>Total words: {{ page_obj.paginator.count }}</h3>
<form action="" method="post">
    {% csrf_token %}
    {% block editing_list %}
    <div>
        <div class="row">
            <div class="col-sm-2">
                Category:
                {{ form.category }}
            </div>
            <div class="col-sm-2">
                <input type="submit" value="Add" name="_add_category">
                <input type="submit" value="Remove" name="_remove_category">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-sm-3">
                Dictionary:
                {{ form.dictionary }}
            </div>
            <div class="col-sm-3">
                <input type="submit" value="Add" name="_add_dictionary">
                <input type="submit" value="Remove" name="_remove_dictionary">
            </div>
        </div>
        <div class="remove_button">
            <input type="submit" value="Delete entries" name="_delete_entries">
            <input type="submit" value="Delete entries and words" name="_delete_entries_with_words">
        </div>
    </div>
    <div>
    {% endblock %}
{% block pagination0 %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}
        <table class="dictionary-view">
            <thead>
            <tr>
                <th></th>
                <th class="title-word">word</th>
                <th>transcription</th>
                <th class="title-word">translation</th>
                <th class="title-language">from</th>
                <th class="title-language">to</th>
                <th>categories</th>
                <th>Dictionaries</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for word in words.all %}
            <tr class="{% cycle 'row1' 'row2' %}">
                <td>
                    <input id="id_entries" type="checkbox" value="{{word.id}}" name="entries">
                </td>
                <td>
                    <!--  <a href=" word.get_absolute_url ">{{ word.word }}</a> ({{word.word}})-->
                    {{word.word.word}}
                </td>
                <td>
                    {{word.get_transcription}}
                </td>
                <td>{{word.translation.word}} {{word.translation.get_notes}}</td>
                <td class="title-language">
                    {{word.word.language}}
                </td>
                <td class="title-language">{{word.translation.language}}</td>
                <td>
                    {% for category in word.word.category.all %}
                    {{category}}
                    {% endfor %}
                </td>
                <td>
                    {% for dict in word.dictionary.all %}
                    {{dict}}
                    {% endfor %}
                </td>
                <td>
                    <a href="{% url 'add-entry' word.pk %}">Edit</a>
                </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
</form>
{% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}
{% block pagination2 %}
{% if page_obj.has_previous %}
        <a href="{{ request.path }}?page=1}}">
            ◀️◀️
        </a>
        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
            ◀️
        </a>
    {% endif%}
    <a>{{page_obj.number}} of {{page_obj.paginator.num_pages}}</a>
    {% if page_obj.has_next %}
        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">
            ▶️
        </a>
        <a href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}">
            ▶️▶️
        </a>
    {% endif%}
    <hr>

    {% for page_number in page_obj.paginator.get_elided_page_range %}
        {% if page_number == page_obj.paginator.ELLIPSIS %}
            {{page_number}}
        {% else %}
            <a href="{{ request.path }}?page={{ page_number }}"
                class="{% if page_number == page_obj.number %}current{% endif %}">
                {{page_number}}
            </a>
        {% endif %}
    {% endfor %}
{% endblock %}
{% else %}
<p>There are no words.</p>
{% endif %}

{% block after_list %}{% endblock %}

{% endblock %}
