.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.title-word {
width:15em;
text-align: center;
}
.title-language {
width:5em;
text-align: center;
}
.dictionary-view {

}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-color: #96D4D4;
}
.row2{
background: #f9f9f9;
}
div.remove_button{
margin-left: 50%;
margin-bottom: 10px;
}
div.filters{
border: solid 1px #32a1ce;
padding-left: 0.2em;
padding-right: 0.2em;
padding-bottom: 1em;
padding-top: 0.5em;
}
span.space{
padding:0.5em;
padding-right:0em;
border-left: 0.1em solid black;
}
